body{
	width:100%;
}

p{
	color:red;
	width:4rem;
	background-color:green;
}
h1{
	color:blue;
	height:7rem;
	background-color:red;

}
p:after{
	color:white;
	transition:transform all 0.5s ease-in;
}

#rel{
	witdh:75%;
}
